*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    color:blueviolet ;
}
#container{
    width: 80%;
    margin: 10px auto;    
}
.cont1{ 
    padding: 1rem;
    background-color: #eeeeee;
    border:5px solid rgb(147, 72, 217) ;
    border-radius:15px ;    
}

#container h1{
    font-size: 100px;
}
#container p{
    margin-top: 2px;
    font-size: 20px;
    color:rgb(147, 84, 205) ;
} 
#container-cabecera{
    display: flex;
    width: 100%;
    margin: 0px auto;
    padding: 0.2rem;
    justify-content: space-between;
}
#container-cabecera h2{
   color:rgb(91, 72, 217) ;
   font-weight: bold;
}
#min-Navbar{
    justify-content: space-between;
}
#min-Navbar a{
    margin: 0 5px;
    font-family: sans-serif;
    font-size: 20px;
    color:rgb(91, 72, 217) ;
    text-decoration: none;
}


.cont2{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   /* margin: 15px auto; */
    
}
.cont2 .item1, .cont2 .item2{
    width: 40%;
    height: 200px;
    padding: 1rem;
    background-color: #eeeeee;
    border:5px solid rgb(147, 72, 217) ;
    border-radius:15px ;
}
/* .item1{
    margin-right:15px ;
}
.item2{
    margin-left:15px ;
} */

/* --- 3cer contenedor --- */
#cont3{
    width: 100%;
    background-color: var(--white-color);
    padding: 1rem;
    border: 5px solid var(--main-color) ;
    border-radius: 15px;
}
#cont3 p{
    font-family: Arial,sans-serif;
    font-size: 25px;
}